.filterModal {
  background: white;
  padding: 20px;
  width: 400px;
  border-radius: 10px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.filterModalOverlay {
  background: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.filterContent {
  margin: 20px 0;
  .radioLabel {
    padding: 5px 10px;
    input[type="radio"] {
      margin-right: 5px;
    }
  }
}

// .statusSelect {
//   width: 100%;
//   padding: 10px;
//   border-radius: 5px;
//   border: 1px solid #ccc;
//   font-size: 16px;
// }

.filterModalActions {
  margin-top: 20px;

  .cancelBtn,
  .confirmBtn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
    font-size: 16px;
  }

  .cancelBtn {
    background-color: #ccc;
  }

  .confirmBtn {
    background-color: #007bff;
    color: white;
  }
}
